html {
    --color-main:#00a942;
    --color-main-hover:#2cd35f;
    --color-main-focus:rgba(194, 243, 209, 0.89);

    --color-error: #D8000C;
    --color-error-bg: #FFBABA;

    --color-text:#000000;
    --color-text-gray:#7c7c7c;
    --color-white:#ffffff;
    --color-dark: #212121;

    --border-radius-main: .3em;

    --color-border: #d7d7d7;
    --color-border-focus: #b8d9f5;
}